<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beertag.android">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".BeerTagApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BEER TAG"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:configChanges="orientation|screenSize|keyboardHidden"
        >

        <activity android:name=".views.home.HomeActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".views.beerDetails.BeerDetailsActivity"
                  android:screenOrientation="portrait"/>
       
        <activity android:name=".views.beerCreate.BeerCreateActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.login.LoginActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".views.getPicture.GetPictureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.beersList.BeersListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".views.myBeers.MyBeersListActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>